<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Trivial Conquest</h1>
  </ion-header-bar>
  <ion-content>
      <div class="card">
        Create Game
        <form name="allgames.form" ng-submit='createGame()' novalidate class="item item-input">
        <input type='text' value='Create New Game' ng-model='allgames.gamename'/></input>
        </form>
      </div>
      <div ng-show='allgames.repeat()' class=card>
       <p>This game already exists, please choose another name</p>
      </div>
      <div ng-repeat='game in games'>
        <div class="card">
          <div class="item item-text-wrap">
            <a href="#/games/{{game._id}}">
                {{game.name}}
            </a>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>