<ion-view>
  <ion-header-bar class="allgameshead">
    <h1 id="allgamestitle" class="title" >Trivial Conquest</h1>
    <div>
        <button class="button button-calm" ng-click="logout()">Logout</button>
    </div>
  </ion-header-bar>
  <ion-content class="allgames">
      <div class="card">
        Create New Game
        <form name="allgames.form" class="item item-input">
        <input type='text' placeholder= "Set Game Name" ng-model='allgames.gamename'/></input>
        <input type='text' string-to-number placeholder="Set Player Limit" ng-model='allgames.playerlimit'/></input>
        <button class="button button-calm" value=submit ng-click='createGame()' novalidate>Create</button>
        </form>
      </div>
      <div ng-show='allgames.repeat()' class=card>
       <p>This game already exists, please choose another name</p>
      </div>
      <div class="button-bar">
        <a class="button button-calm" ng-click='myGames()'>Show My Games</a>
        <a class="button button-calm" ng-click='allGames()'>Show All Available Games</a>
      </div>
      <div ng-repeat='game in games' ng-if='game.remain != 0 && allgames'>
        <div class="card">
          <div class="item item-text-wrap">
            <a href="#/games/{{game._id}}">
                {{game.name}} 
            </a>
            <p>{{game.remain}} out of {{game.limit}} spots remaining</p>
          </div>
        </div>
      </div>
      <div ng-repeat='game in games' ng-show='!allgames'>
        <span ng-if='game.users.indexOf(user._id) != -1'>
         <div class="card">
          <div class="item item-text-wrap">
            <a href="#/games/{{game._id}}">
                {{game.name}} 
            </a>
            <p>{{game.remain}} out of {{game.limit}} spots remaining</p>
          </div>
         </div>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>