<ion-modal-view>  
  <ion-header-bar>
    <h2 class="title">Deposit or Withdraw</h2>
    <div class="buttons">
    <a ng-href="{{goBack.url}}"><button class = 'game-buttons'>Close</button></a>
    </div>
  </ion-header-bar>

  <ion-content>
		 <div class = 'rules-list'>
		  <div class="item item-text-wrap" id="balance">
		  <img ng-src={{currentUser.profilePicture}} height='50' width = '50'>
		  <p ng-if="userPoints !==1"> You have {{userPoints}} troops</p>
		  <p ng-if="userPoints ===1"> You have {{userPoints}} troop</p>
		</div>
		 <div>
		  <div class="item item-text-wrap" id="balance" ng-if="pin.points !==1">
		  The stronghold at {{pin.name}} has {{pin.points}} troops
		  </div>
		  <div class="item item-text-wrap" id="balance" ng-if="pin.points ==1">
		  The stronghold at {{pin.name}} has{{pin.points}} troop
		  </div>
		</div>
		<div>
		Add Troops to Stronghold
		<form class="item item-input">
		<input type='text' placeholder= "How many troops do you want to add?" ng-model="bank.pindeposit" required/></input>
		 <button class="game-buttons" value=submit ng-click='deposit()'>Add</button>
		</form>
		Remove Troops from Stronghold
		<form class="item item-input">
		<input type='text' placeholder= "How many troops do you want to remove?" ng-model="bank.pinwithdraw" required/></input>
		 <button class="game-buttons" value=submit ng-click='withdraw()'>Remove</button>
		</form>
		</div>
  
  </ion-content>
</ion-modal-view>