<ion-modal-view>  
  <ion-header-bar>
    <h1 class="title">Deposit or Withdraw</h1>
    <div class="buttons">
    <a class="button button-calm" ng-href="{{goBack.url}}">Close</a>
    </div>
  </ion-header-bar>

  <ion-content>
		 <div class="card">
		  <div class="item item-text-wrap" id="balance">
		  <img ng-src={{currentUser.profilePicture}} height='50' width = '50'> You have {{userPoints}} troops
		</div>
		 <div class="card">
		  <div class="item item-text-wrap" id="balance" ng-if="pin.points !==0">
		  The stronghold at {{pin.name}} has {{pin.points}} troops
		  </div>
		  <div class="item item-text-wrap" id="balance" ng-if="pin.points ==0">
		  The stronghold at {{pin.name}} has{{pin.points}} troop
		  </div>
		</div>
		<div class="card">
		Add Troops to Stronghold
		<form class="item item-input">
		<input type='text' placeholder= "How many troops do you want to add?" ng-model="bank.pindeposit" required/></input>
		 <button class="button button-calm" value=submit ng-click='deposit()'>Deposit</button>
		</form>
		Remove Troops from Stronghold
		<form class="item item-input">
		<input type='text' placeholder= "How many troops do you want to remove?" ng-model="bank.pinwithdraw" required/></input>
		 <button class="button button-calm" value=submit ng-click='withdraw()'>Withdraw</button>
		</form>
		</div>
  
  </ion-content>
</ion-modal-view>