<style>
  .tab-item {
    color: blue;
  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: inline-block;
  }


  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    display: inline-block;
  }

  #points {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 100px;
    display: inline-block;
  }

  #pinbtn {
     background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 150px;
    display: inline-block;
  }


  #pac-input:focus {
    border-color: #4d90fe;
  }

  #points:focus {
     border-color: #4d90fe;
  }

  #pinbtn:focus {
     border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #target {
    width: 345px;
  }

</style>

<ion-view>

<div id="gameshead" class="tabs tabs-icon-top" > 

    <div id="gamesname">{{game.name}}</div>
    <div id="gamesname" ng-if="game.start===true">Game Has Started</div>
    <div id="gamesname" ng-if="game.start===false">Game Hasn't Started Yet</div>
    <div>
      <button ng-click="logout()">Logout</button>
    </div>
    <div>
      <!--Show this button only if user is not part of the game. Once they click, assume they're in and hide-->
      <button ng-click='joinGame(); showBtn = false' ng-show="checkUserJoin() && showBtn">Join Game</button>
    </div>
    <a href="#/allgames">Back</a>
    <div>
      <!--Show this button only if user is close enough to an enemies pin and game has not finished-->
      <button ng-click="claimPin()" ng-show="checkLocation() && !winner && begin" class="ng-hide">Attack!</button>
    </div>
    <div>
     <!--Show this button only if user is close enough to their pin and game has not finished-->
     <a ng-if="checkLocOwner() && !winner" ng-href={{bankUrl.url}}>Deposit/Withdraw</a>
    </div>
   <div>
     <a ng-href={{scoreUrl.url}}>Score</a>
    </div>
    <div>
      <!--Show this button only if user has placed at least one pin. Once they've placed 3, hide-->
      <button ng-click="deletePin()" ng-show="checkUserPins()" class="ng-hide">Delete Last Stronghold</button>
    </div>
</div>

  <ion-content >
    <form name="pinspoints">
      <input id="pac-input" class="controls" type="text" onfocus="{this.value=''}" placeholder="search for address or name" ng-model="onegame.search" ng-class="{'hidden': checkUserJoin() && showBtn}" required></input>
      <input id="points" class="controls" ng-class="{'hidden': checkUserJoin() && showBtn}" type="number" onfocus="{this.value=''}" placeholder="Set Value" ng-model="onegame.points" required></input>
      <button id="pinbtn" class="controls" ng-click="addPin()" ng-hide="pinspoints.$invalid">Build Stronghold</button>
    </form>

		<div id="map" data-tap-disabled="true"></div>
    </div>
	</ion-content>
</ion-view>



