<style>
  .tab-item {
    color: blue;
  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: inline-block;
  }


  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    display: inline-block;
  }

  #points {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 100px;
    display: inline-block;
  }

  #pinbtn {
     background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 150px;
    display: inline-block;
  }


  #pac-input:focus {
    border-color: #4d90fe;
  }

  #points:focus {
     border-color: #4d90fe;
  }

  #pinbtn:focus {
     border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #target {
    width: 345px;
  }

</style>

<ion-view>
<div id="gameshead" class="tabs tabs-icon-top" >
    <div>
      <button ng-click="logout()">Logout</button>
    </div>
    <div>
      <button ng-click='joinGame()'>Join Game</button>
    </div>
    <a href="#/allgames">Back</a>
    <div>
      <button ng-click="claimPin()" ng-show="checkLocation()" class="ng-hide">Attack!</button>
    </div>
    <div>
     <a ng-if="checkLocOwner()" ng-href={{bankUrl.url}}>Deposit/Withdraw</a>
    </div>
   <div>
     <a ng-href={{scoreUrl.url}}>Score</a>
    </div>
    <div>
      <button ng-click="deletePin()" ng-show="checkUserPins()" class="ng-hide">Delete Last Pin</button>
    </div>
</div>

  <ion-content>
    <form name="pinspoints">
      <input id="pac-input" class="controls" type="text" onfocus="{this.value=''}" placeholder="search for address or name" ng-model="onegame.search" ng-show="checkPinCount()" class="ng-hide" required></input>
      <input id="points" class="controls" type="number" onfocus="{this.value=''}" placeholder="Set Value" ng-model="onegame.points" ng-show="checkPinCount()" class="ng-hide" required></input>
      <button id="pinbtn" class="controls" ng-click="addPin()" ng-hide="pinspoints.$invalid">Add Pin</button>
    </form>

		<div id="map" data-tap-disabled="true"></div>
    </div>
	</ion-content>
</ion-view>



