<style>
  .tab-item {
    color: blue;
  }

  .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }

</style>
<ion-view>
<div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/">
    <i class="ion-log-out"></i>
    Logout
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
   <a class="tab-item" href="#/allgames">
    <i class="ion-arrow-left-c"></i>
  </a>
  
</div>
	<ion-content>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div id="map" data-tap-disabled="true"></div>
    <div style="text-align: center">
      <button style="position: absolute" ng-click="claimPin()">Claim Location</button>
    </div>
    <form id="searchbox" action="" align="center">
      <input id="search" type="text" placeholder="Find Location"  >
      <!-- <input id="submit" type="submit" value="Search"> -->
    </form>
    <div style="text-align: center">
      <button style="position: absolute">Add Pin</button>
    </div>
	</ion-content>
</ion-view>