<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<div class="fullscreen-bg">
  <!--<video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
    <source src="../img/infinity.mp4" type="video/mp4">
    </video>
  -->
  <form>
    <div class="list">
      <label>
        <button class="action-button shadow animate red" ng-click="authenticate('facebook')">Start yer adventure</button>
      </label>
    </div>
  </form>
</div>
