<ion-modal-view class = "rules">  
  <ion-header-bar>
    <h2 class="title">Rules</h2>
    <div class="buttons">
      <a class="button" href='/'>Close</a>
    </div>

  </ion-header-bar>
  <ion-content>
  <div class='rules-list'>
    <ul>
    <li> <strong>☩</strong>  Each player starts with 100 troops.</li>
    <br>
    <li> <strong>☩</strong>  Before the game begins, each player must place 3 strongholds on the map, fortified with as many troops as (s)he would like. Any troops that are not placed in one of your strongholds become part of your army, and can be used for conquering others’ strongholds.</li>
    <br>
    <li> <strong>☩</strong>  If you are near (within a .25 mile radius) one of your strongholds, you may exchange troops between your army and the stronghold.</li>
    <br>
    <li> <strong>☩</strong> In order to overtake another player’s stronghold, you must both be close enough and have troops in your army. When battling your opponent, your odds of winning are determined by how many troops each of you has. For example, if you have 25 troops in your army and your opponent has 50 troops in their stronghold, you have a 1 in 3 chance of victory.</li>
    <br>
    <li> <strong>☩</strong>  If you defeat your opponent, their stronghold and troops now belong to you. However if you lose, your opponent gains control of the troops in your army and you must retreat to one of your strongholds in order to replenish your army with more troops.</li>
    <br>
    <li> <strong>☩</strong>  Once a player has conquered all the strongholds on the map, (s)he is determined to be the winner and the game ends.</li>
  </ul>
  </div>
  </ion-content>
</ion-modal-view>
