f<ion-modal-view>  
  <ion-header-bar>
    <h1 class="title">ScoreBoard</h1>
    <div class="buttons">
    <a class="button button-calm" ng-href="{{goBack.url}}">Close</a>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="list">
    <a class="item item-avatar" href="#" ng-repeat="user in users">
      <img ng-src="{{user.profilePicture}}">
      <h2>{{user.firstName}} {{user.lastName}}</h2>
      <p>Bullion: {{user.points}}</p>
      <p>address: {{user.pins[0]}}</p>
      <p>points: {{user.pins[1]}}</p>
    </a>
  </div>
  </ion-content>
</ion-modal-view>

<!--   // scoreboard
  // owner's points (cash) | pins {address, points}
  // for each member of game -->

<!--   user.points √
  user.pins.address
  user.pins.points -->

<!--   <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>

<table>
  <tr ng-repeat="x in names">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table> -->