f<ion-modal-view>  
  <ion-header-bar>
    <h1 class="title">ScoreBoard</h1>
    <div class="buttons">
    <a class="button button-calm" ng-href="{{goBack.url}}">Close</a>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="list">
    <a class="item item-avatar" href="#" ng-repeat="user in users">
      <img ng-src="{{user.profilePicture}}">
      <h2>{{user.firstName}} {{user.lastName}}</h2>
      <p>Bullion: {{user.points}}</p>
      <p>{{user.pins.address}}</p>
      <p>{{user.pins.points}}</p>
<!--       <table style="width:100%">
        <tr>
          <th>Pins</th>
        </tr>
        <tr ng-repeat="pin in users.pins">
          <td>address</td>
          <td>points</td>
        </tr>        
      </table> -->
    </a>
  </div>
  </ion-content>
</ion-modal-view>


<!-- <table>
  <tr ng-repeat="x in names">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table> -->