/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 95%;
}

.allgames {
	background: #011627;
}

.allgameshead {
  background: #011627;
  color : white;
}

#allgamestitle {
	color: #FDFFFC;
}

#gameshead {
	background: #011627;
}