/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

h1 {
	font-family: 'Homemade Apple', cursive;
	text-align:center;
	font-size: 70px;
}

a {
	font-family: 'Georgia', serif;
	text-decoration: none;
	color: white;
	font-weight: bold
}

.button {
	background-image: url('http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg');
}

.button.games{
	width: 49%;
}

#map {
    width: 100%;
    height: 95%;
}

.top {
	background-image: url('http://i.imgur.com/IcwLuc0.png');
}

.allgames {
	background: #2D2D2F;
}

.allgameshead {
  background: #2D2D2F;
  color : white;
}

#allgamestitle {
	color: #FDFFFC;
}

#gameshead {
	background: #011627;
}

.item-text-wrap, .card, input, form {
	background-color: rgba(0, 0, 0, 0.5)
}

img.banner {
	width: 100%;
	height: 40%;
}

#balance {
	background: white;
}